<div class="mt-2 messaggio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                            </button>
                    <a style="text-align: center; font-size: 10pt;">Website under development, it is normal to find elements that are not yet functional. We are constantly working to improve this site, <a style="color: #ff0000;" title="skinnymonkeys7@gmail.com" href="mailto:skinnymonkeys7@gmail.com">contact us for suggestions</a></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="alert alert-info alert-dismissible fade show" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                            </button>
                    <a style="text-align: center;  font-size: 14pt;"><a title="Help us with a donation" href="https://ko-fi.com/skinnymonkeys" >∼ Support our project with a donation!</a></a>
                </div>
            </div>
        </div>
    </div>
</div>